:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  /* background-image: url('/assets/img/pexels-adnan-uddin-886051.jpg'); */
  /* background: center / contain no-repeat
    url('/assets/img/pexels-lukas-hartmann-880675.jpg'); */
  background: url('/assets/img/space.jpg');
  background-size: cover;
}
