@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(to right, #2b2b2b40, #000000),
    url('/assets/img/black-texture.jpg') no-repeat center fixed;
  background-size: cover;
  min-height: 100vh;
}

@layer components {
  .bg-gray-transparent {
    @apply bg-gray-700 bg-opacity-30;
  }
}
